.divider {
  width: 1px;
  height: 50px;
  background: rgb(221, 219, 218);
}

.topCircle {
  width: 15px;
  height: 15px;
  background: rgb(0, 68, 135);
  border-radius: 2.5em;
}

.parentnode {
  display: flex;
  justify-content: center;
}

.rootnode {
  display: flex;
  justify-content: center;
}

.inlineItem {
  color: rgba(0, 68, 135, 1);
}

.avatarcircle {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.avatarcircleBig {
  height: 85px;
  width: 85px;
  border-radius: 50%;
}

.tile {
  width: 200px;
  border-radius: 2.5em;
  border: 1px solid rgb(221, 219, 218);
  padding: 2px 0px 2px 2px;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
}

.tileCurrent {
  width: 260px;
  border-radius: 4em;
}

.inlineItem {
  display: inline-block;
  vertical-align: middle;
}

.shadow {
  box-shadow: 0 0 10px rgba(35, 173, 255, 1);
  border: 2px solid rgba(35, 173, 255, 1);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 0px rgba(35, 173, 255, 1);
  }
  to {
    box-shadow: 0 0 10px rgba(35, 173, 255, 1);
  }
}